/*****************************************************************************************************************
IMPORTACIONES
******************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
/*****************************************************************************************************************
ESTILOS GENERALES
******************************************************************************************************************/
html {
  scroll-behavior: smooth; }
  html body {
    overflow-x: hidden;
    background-color: black; }

#cabecera {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  background: url(../assets/Whisky_fondo.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw; }
  #cabecera #menu {
    background-color: transparent; }
    #cabecera #menu img {
      border-radius: 50%; }
    #cabecera #menu .navbar-toggler {
      background-color: #baab8f; }
    #cabecera #menu p {
      font-family: "Great Vibes", cursive;
      text-align: center;
      color: #baab8f !important; }
    #cabecera #menu .cont-enlaces a {
      position: relative;
      color: #baab8f !important;
      font-family: "El Messiri", sans-serif;
      letter-spacing: 0.065rem;
      font-size: x-large;
      font-weight: bold; }
      #cabecera #menu .cont-enlaces a::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #533535;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 600ms ease-out; }
      #cabecera #menu .cont-enlaces a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left; }

#navbarSupportedContent {
  z-index: 2; }

/*****************************************************************************************************************
ESTILOS MOBILE
******************************************************************************************************************/
@media (max-width: 480px) {
  #cabecera {
    background-position: 45%; }
    #cabecera #menu {
      background: #000000;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #434343, #000000);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #434343, #000000);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      opacity: 80%; }
      #cabecera #menu p {
        margin-left: 75px; } }

/*****************************************************************************************************************
ESTILOS TABLET
******************************************************************************************************************/
@media (min-width: 481px) and (max-width: 1023px) {
  #cabecera {
    background-position: 40%; }
    #cabecera #menu {
      background: #000000;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #434343, #000000);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #434343, #000000);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      opacity: 80%; } }

/*****************************************************************************************************************
ESTILOS DESKTOP
******************************************************************************************************************/
@media (min-width: 1024px) {
  #navbarSupportedContent {
    margin-left: 45%; } }
