/*****************************************************************************************************************
ESTILOS PAGINA PRODUCTOS
******************************************************************************************************************/
/*****************************************************************************************************************
IMPORTACIONES ESTILOS OTRAS PAGINAS
******************************************************************************************************************/
@import "_generales";

/*****************************************************************************************************************
ESTILOS CARROUSEL
******************************************************************************************************************/
.carousel {
  margin-bottom: 4rem;
  width: 100vw;
  .carousel-caption {
    bottom: 3rem;
    z-index: 1;
  }

  .carousel-item {
    height: calc(100vh - 95px);
    picture > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
    }
    h1 {
      color: black; /*if no support for background-clip*/
      background: -webkit-linear-gradient(transparent, transparent),
        -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(
                213,
                173,
                109,
                1
              )
              26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(
                145,
                112,
                59,
                1
              )
              61%, rgba(213, 173, 109, 1) 100%);
      background: -o-linear-gradient(transparent, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bolder;
      font-size: 4rem;
      p{
        font-size: 2rem;
      }
    }
  }
}

/*****************************************************************************************************************
ESTILOS TIPOS WHISKY
******************************************************************************************************************/

.tipos-whiskys .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.tipos-whiskys h2 {
  font-weight: 400;
  color: white;
}

.tipos-whiskys p {
  color: white;
}

.tipos-whiskys .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/*****************************************************************************************************************
ESTILOS DESCRIPCION WHISKY
******************************************************************************************************************/

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/*****************************************************************************************************************
ESTILOS MOBILE
******************************************************************************************************************/

@media (max-width: 480px) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .featurette-divider {
    margin: 3rem 0;
  }

  .featurette img {
    max-width: 100vw;

  }

  .carousel {
   
      h1 {
        font-size: 3rem !important;
      }
      p{
        font-size: 1rem !important;
      }
    }

    
}
  


/*****************************************************************************************************************
ESTILOS TABLET
******************************************************************************************************************/

@media (min-width: 481px) and (max-width: 1023px) {
  .featurette-heading {
    margin-top: 7rem;
  }

  .featurette-divider {
    margin: 4rem 0;
  }

  .featurette img {
    max-width: 100vw;

  }

 
  
}
