/*****************************************************************************************************************
ESTILOS PAGINA PROCESO
******************************************************************************************************************/
/*****************************************************************************************************************
ESTILOS 
******************************************************************************************************************/

.divisor {

    background: #F7F8F8;  
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8); 
    background: linear-gradient(to right, #ACBB78, #F7F8F8);   
    height: 3px !important;
    margin: 0px 5% 0px 5%;
    border-radius: 300px/10px;

}

.titulo-proceso {
  @extend .tituloDorado;
    font-weight: 400 !important;
    font-size: 3rem;
  }
