/*****************************************************************************************************************
ESTILOS PAGINA PROCESO
******************************************************************************************************************/
/*****************************************************************************************************************
IMPORTACIONES ESTILOS OTRAS PAGINAS
******************************************************************************************************************/
@import "_generales";
/*****************************************************************************************************************
ESTILOS 
******************************************************************************************************************/
.linea-tiempo {
    position: relative;
    width: 70vw;  
    // width: 500px; 
    // MOBILE 500PX
    max-width: 95vw;
    height: 100%;
    h3{
        font-family: "Great Vibes", cursive;
        color: black; /*if no support for background-clip*/
        background: -webkit-linear-gradient(transparent, transparent),
          -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(
                  213,
                  173,
                  109,
                  1
                )
                26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(
                  145,
                  112,
                  59,
                  1
                )
                61%, rgba(213, 173, 109, 1) 100%);
        background: -o-linear-gradient(transparent, transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
        font-size: 3rem !important;
    }
  }
  
  .linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color:  map-get($colores, color-cabecera);
    left: 50%;
    height: 100%;
    border-radius: 10px;
  }
  
  .momento {
    position: relative;
    width: 45%;
    box-sizing: border-box;
  }
  
  .momento:nth-child(even) {
    left: 55%;
  }
  
  .momento::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: wheat;
    border-radius: 50%;
  }
  
  .momento:nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
  }
  
  .momento h3 {
    margin: 10px 0px;
    font-size: 30px;
    text-align: center;
  }
  
  .momento .descripcion {
    background-color: #BFBDB8;
    border-radius: 10px;
    padding: 10px;
    line-height: 22px;
    font-size: 16px;
    font-family:sans-serif; 
  }
  
  .momento .descripcion::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% + 10px);
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #eee;
  
  }
  
  .momento:nth-child(even) .descripcion {
    background-color: #F2F0E4;
    color: black;

   
  }
  
  .momento:nth-child(even) .descripcion::after{
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #eee;
    border-left: none;
  }

  /*****************************************************************************************************************
ESTILOS MOBILE
******************************************************************************************************************/

@media (max-width: 480px) {

  .linea-tiempo {
    width: 100vw;  
  }

  .momento .descripcion {
    background-color: #BFBDB8;
    border-radius: 10px;
    padding: 10px;
    line-height: 22px;
    font-size: 14px;
    font-family:sans-serif; 
  }
 

    
}
  


/*****************************************************************************************************************
ESTILOS TABLET
******************************************************************************************************************/

@media (min-width: 481px) and (max-width: 1023px) {
  

}

 