/*****************************************************************************************************************
IMPORTACIONES FUENTES
******************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/*****************************************************************************************************************
ESTILOS GENERALES
******************************************************************************************************************/

// Mapas

$colores: (
  color-cabecera: #baab8f,
  color-enlaces: #533535,
  color-fondo: black,
);

$tamaños-media: (
  t-sm: 576px,
  t-md: 768px,
  t-lg: 992px,
  t-xl: 1200px,
);

html {
  scroll-behavior: smooth;
  body {
    overflow-x: hidden;
    background-color: map-get($colores, color-fondo);
  }
}

/*****************************************************************************************************************
CABECERA PAGINA PRINCIPAL
******************************************************************************************************************/

#cabecera {
  background: url(../assets/Whisky_fondo.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  #menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: transparent;
    img {
      border-radius: 50%;
      border: 5px double map-get($colores, color-cabecera);
    }
    .navbar-toggler {
      background-color: map-get($colores, color-cabecera);
    }
    p {
      font-family: "Great Vibes", cursive;
      text-align: center;
      color: map-get($colores, color-cabecera) !important;
    }
    .cont-enlaces {
      a {
        position: relative;
        color: map-get($colores, color-cabecera) !important;
        font-family: "El Messiri", sans-serif;
        letter-spacing: 0.065rem;
        font-size: x-large;
        font-weight: bold;
        &::after {
          content: " ";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: map-get($colores, color-enlaces);
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 600ms ease-out;
        }
        &:hover {
          &::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }
  }
}

#navbarSupportedContent {
  z-index: 2;
}

/*****************************************************************************************************************
CABECERA PAGINAS SECUNDARIAS
******************************************************************************************************************/

#cabecera-secundaria {
  width: 100vw;
  height: 95px;
  #menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: transparent;
    img {
      border-radius: 50%;
      border: 5px double map-get($colores, color-cabecera);
    }
    .navbar-toggler {
      background-color: map-get($colores, color-cabecera);
    }
    p {
      font-family: "Great Vibes", cursive;
      text-align: center;
      color: map-get($colores, color-cabecera) !important;
    }
    .cont-enlaces {
      a {
        position: relative;
        color: map-get($colores, color-cabecera) !important;
        font-family: "El Messiri", sans-serif;
        letter-spacing: 0.065rem;
        font-size: x-large;
        font-weight: bold;
        &::after {
          content: " ";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: map-get($colores, color-enlaces);
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 600ms ease-out;
        }
        &:hover {
          &::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }
  }
}

/*****************************************************************************************************************
PIE PAGINA PRINCIPAL Y SECUNDARIAS
******************************************************************************************************************/

#pie {
  background-color: #0d0d0d;
  height: auto;
  border-radius: 1%;

  h2,
  p {
    color: map-get($colores, color-cabecera);
    // color: white !important;
  }
  .cont-enlaces {
    a {
      position: relative;
      color: white !important;
      font-size: x-large;
    }
  }
}
