/*****************************************************************************************************************
IMPORTACIONES ESTILOS OTRAS PAGINAS
******************************************************************************************************************/
@import "_generales";
@import "estilosProducto";
@import "estilosProceso";
@import "estilosHistoria";

/*****************************************************************************************************************
ESTILOS INDEX
******************************************************************************************************************/

.contenedor-texto {
  width: 80%;
}

.contenedor-img {
  width: 50%;
  
}

/*****************************************************************************************************************
ESTILOS MOBILE
******************************************************************************************************************/

@media (max-width: 480px) {
  .contenedor-img {
    width: 80%;
  }
  
  .contenedor-texto {
    width: 90%;
  }
}

/*****************************************************************************************************************
ESTILOS TABLET
******************************************************************************************************************/

@media (min-width: 481px) and (max-width: 1023px) {
  .contenedor-img {
    width: 80%;
  }
}

/*****************************************************************************************************************
ESTILOS DESKTOP
******************************************************************************************************************/
@media (min-width: 1024px) and (max-width: 1499px) {
}

@media (min-width: 1500px) {
 
}
